body{
    display: grid;
    grid-template-rows: 100px 2fr;
    grid-template-columns: 12rem auto;
    grid-template-areas:
    "nav nav"
    "aside main" ;
    height: 100vh;
}
Nav{
    grid-area: nav;
}
Aside{
    grid-area: aside;
}
main {
    grid-area: main;
}